input, button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input {
    border: 2px solid #333;
    background-color: white;
    border-radius: 0.25rem;
}

input[type="text"], input[type="password"] {
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    display: inline-block;
    margin-bottom: 0.5em;
}

button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: all 0.5s;
}

button:hover {
    background-color: #4CAF50; /* Add a green color when hovered */
    color: white;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
}
